@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 330px;
    background-color: lightblue;
  }
  
.sticky-shrinknav-menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    bottom: 0;
    height: 3.75rem;
    line-height: 3.75rem;
    width: 100%;
    background-color: rgba(23, 121, 186, 0.1);
    transition: all 0.5s ease;
    color: cornsilk;
  }
  
.sticky-shrinknav-menu li {
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  
.sticky-shrinknav-menu li:hover {
    box-shadow: 0 0 0 1px #fefefe;
  }
  
.sticky-shrinknav-menu a {
    color: #fefefe;
  }
  
.sticky-shrinknav-header-title {
    transition: all 0.3s ease;
    position: relative;
    -webkit-transform: translateY(-1.875rem);
        -ms-transform: translateY(-1.875rem);
            transform: translateY(-1.875rem);
    margin-bottom: 0;
    color: #fefefe;
  }
  
.sticky-shrinknav-header {
    width: 100%;
    height: 300px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #090b0c;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
  }
  
body.sticky-shrinknav-wrapper {
    padding-top: 130px;
  }
  
body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
    height: 3.75rem;
    background-color: rgba(23, 121, 186, 0.9);
  }
  
body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    transition: all 0.3s ease;
  }

/* button styling */
.bacon-btn {
  text-decoration: none;
  background: url("background-bacon.png") no-repeat;
  background-size: cover;
  color: #000;
  cursor: pointer;
  font-weight: 800;
  padding: 1em;
  font-size: 2em;
  width: 250px;
  height: 250px;
  border: 3px #000 solid;
  border-radius: 50%;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -6px 2px 2px rgba(161, 161, 161, 0.5);
}
  
*:focus {
  outline: 0;
}
.bacon-btn:active{
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 6px 2px 2px rgb(120, 42, 23), inset 0px -3px 1px 1px rgba(212, 163, 155, 0.5);
}

/* recipe row */
.recipe-input-row {
  padding-top: 2em;
}

/* bacon button row */
.button-row {
  padding: 3em 0 5em 0;
}

/* footer */
.footer{
  padding-top: 3em;
}

/* media query for devices 640px and below */
@media screen and (max-width: 640px) {
  #recipe-input {
    width: 25%;
    margin: 0 auto;
  }
}